<!--START LATEST ARRIVALS-->
<div class="lastest_arrivals">
	<div class="container">
		<div class="row">
			<div class="col-12 mb-4">
				<h1>Latest Arrivals</h1>
			</div>

			<div class="col-12">
				<div class="lastest_featured_products owl-carousel owl-theme">

					<div class="lastest_arrival_items item">
						<div class="card">
							<span class="product-type">NEW</span>
							<div class="image-holder">
								<a href="{{asset('img/l1.jpg')}}" data-fancybox="lastest_product" data-title="Shirt Name">
									<img src="{{asset('img/l1.jpg')}}" class="card-img-top" alt="Lastest Arrivals 1">
								</a>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-12 text-center">
										<h5 class="card-title">Casual Wear</h5>
									</div>
									<div class="col-12 text-center">
										<p class="card-text">
											$999.00</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="lastest_arrival_items item">
						<div class="card">
							<span class="product-type">NEW</span>
							<div class="image-holder">
								<a href="{{asset('img/l2.jpg')}}" data-fancybox="lastest_product" data-title="Lastest Arrivals 1">
									<img src="{{asset('img/l2.jpg')}}" class="card-img-top" alt="Lastest Arrivals 1">
								</a>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-12 text-center">
										<h5 class="card-title">Light Wear</h5>
									</div>
									<div class="col-12 text-center">
										<p class="card-text text-center">
											$999.00</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="lastest_arrival_items item">
						<div class="card">
							<span class="product-type">NEW</span>
							<div class="image-holder">
								<a href="{{asset('img/l3.jpg')}}" data-fancybox="lastest_product" data-title="Lastest Arrivals 1">
									<img src="{{asset('img/l3.jpg')}}" class="card-img-top" alt="Lastest Arrivals 1">
								</a>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-12 text-center">
										<h5 class="card-title">Long Frock</h5>
									</div>
									<div class="col-12 text-center">
										<p class="card-text text-center">
											$999.00</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="lastest_arrival_items item">
						<div class="card">
							<span class="product-type">NEW</span>
							<div class="image-holder">
								<a href="{{asset('img/l4.jpg')}}" data-fancybox="lastest_product" data-title="Lastest Arrivals 1">
									<img src="{{asset('img/l4.jpg')}}" class="card-img-top" alt="Lastest Arrivals 1">
								</a>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-12 text-center">
										<h5 class="card-title">Casual Wear</h5>
									</div>
									<div class="col-12 text-center">
										<p class="card-text text-center">
											$999.00</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="lastest_arrival_items item">
						<div class="card">
							<span class="product-type">NEW</span>
							<div class="image-holder">
								<a href="{{asset('img/l5.jpg')}}" data-fancybox="lastest_product" data-title="Lastest Arrivals 1">
									<img src="{{asset('img/l5.jpg')}}" class="card-img-top" alt="Lastest Arrivals 1">
								</a>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-12 text-center">
										<h5 class="card-title">Casual Wear</h5>
									</div>
									<div class="col-12 text-center">
										<p class="card-text text-center">
											$999.00</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="lastest_arrival_items item">
						<div class="card">
							<span class="product-type">NEW</span>
							<div class="image-holder">
								<a href="{{asset('img/l6.jpg')}}" data-fancybox="lastest_product" data-title="Lastest Arrivals 1">
									<img src="{{asset('img/l6.jpg')}}" class="card-img-top" alt="Lastest Arrivals 1">
								</a>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-12 text-center">
										<h5 class="card-title">Light Wear</h5>
									</div>
									<div class="col-12 text-center">
										<p class="card-text text-center">
											$999.00</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="lastest_arrival_items item">
						<div class="card">
							<span class="product-type">NEW</span>
							<div class="image-holder">
								<a href="{{asset('img/l7.jpg')}}" data-fancybox="lastest_product" data-title="Lastest Arrivals 1">
									<img src="{{asset('img/l7.jpg')}}" class="card-img-top" alt="Lastest Arrivals 1">
								</a>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-12 text-center">
										<h5 class="card-title">Light Wear</h5>
									</div>
									<div class="col-12 text-center">
										<p class="card-text text-center">
											$999.00</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="lastest_arrival_items item">
						<div class="card">
							<span class="product-type">NEW</span>
							<div class="image-holder">
								<a href="{{asset('img/l8.jpg')}}" data-fancybox="lastest_product" data-title="Lastest Arrivals 1">
									<img src="{{asset('img/l8.jpg')}}" class="card-img-top" alt="Lastest Arrivals 1">
								</a>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-12 text-center">
										<h5 class="card-title">Casual Wear</h5>
									</div>
									<div class="col-12 text-center">
										<p class="card-text text-center">
											$999.00</p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!--END LATEST ARRIVALS-->
{# {% for key,header in headers %}
		<div class="space-y-20">
			<h1 class="hero__title text-center text-white">
				{{ header.title }}
			</h1>
			<p class="hero__text text-center" style="color:wheat;">{{ header.content }}</p>																																																																																																																																																									
			<div class="space-x-20 d-flex justify-content-center">
				<a class="btn btn-grad btn-md" href="{{ header.btnUrl }}">{{ header.btnTitle }}</a>																																																																																																																																																																																															
			</div>
{% endfor %} #}
